.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center{
    text-align: center;
}

.margin{
    margin: 1rem 0px;
}

.margin1{
    margin: 5px 0px;
}